* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar li{

    display: inline-block;
    width: 80px;
    height: 50px;
    margin-top:  12px;
    padding-top: 12px;
    border: black solid 1px;
    background: white;
    border-radius: 4px;

}
.navbar li a{

    text-align: center;
    text-decoration: none;
    color: black;
}
.navbar{
    height: 70px;
    text-align: center;
    background: aqua;
}

/*hover navbar*/
.navbar li:hover{
    background: pink;
}
.navbar li:active{
    background: yellow;
}