
h1{
    text-align: center;
    color: #0F3AFF;
}
table{
    margin-left: 35%;
}
.day-tb{
background-color: #FEFB00;
}
.d1{
    background-color: #FFB300;
}
.tb-right{
    margin-left: 55%;
 margin-top: -26px;
}
.tb-left{
    margin-bottom: -26px;
}
table span{
    color: #1341FE;
}